{% if (post|translate_repost).parent_post and not is_ui_child %}
<a class="mb-1 text-xs italic" href="{{ url('post', post_id=(post|translate_repost).parent_post.id) }}">
    Go to parent post
</a>
{% endif %}

