<details class="dropdown dropdown-end">
    <summary
      class="btn bg-transparent p-0 ml-2 border-none h-fit min-h-fit focus:outline-black"
    >
      <span class="material-icons-outlined text-sm hover:text-blue-400"
        >more_vert</span
      >
    </summary>
    <ul
      class="menu dropdown-content bg-base-100 rounded-box z-[1] w-52 p-2 shadow"
    >
      <li>
        <button onclick="deletePost({{ post.id }})">
          <span class="hover:text-blue-400">Delete</span>
        </button>
      </li>
    </ul>
</details>

