<div>
  <div class="flex justify-between">
    {% include 'posts/user-info.jinja' %}
    <div class="flex items-center justify-center">
      <p class="text-xs">{{ post.created_at|date("DATETIME_FORMAT") }}</p>
      {% include 'posts/dropdown.jinja' %}
    </div>
  </div>
  {% if post.is_pinned %}
  <p class="mt-2 text-red-300">
      <span class="material-icons-outlined text-sm -rotate-45 mr-1 translate-y-[2px]"
        >push_pin</span
      >Pinned</p>
    {% endif %}
  {% if post.event.exists() %}
  <p class="mt-2 text-blue-300">
      <span class="material-icons-outlined text-sm mr-1 translate-y-[2px]"
        >event</span
      >Event</p>
    {% endif %}
  {% if post.ref_post %}
  <p class="mt-2 text-orange-300">
      <span class="material-icons-outlined text-sm mr-1 translate-y-[2px]"
        >repeat</span
      >Repost</p>
    {% endif %}
  {% if (post|translate_repost).title %}
    <a href="{{ url('post', post_id=(post|translate_repost).id) }}" class="focus:outline-black">
    <h3 class="text-xl font-semibold mb-0 mt-2 w-fit">
      {{ (post|translate_repost).title }}
    </h3>
    </a>
  {% endif %}
</div>
