<div class="flex space-x-2 items-center justify-center">
    {% include 'posts/profile-picture.jinja' %}
    
    <p class="text-sm font-bold" title="@{{ display_user.username }}">
        {{ display_user.first_name }} {{ display_user.last_name }}
        <span class="font-light">
          <a href="{{ url('user', display_user.username) }}">
            @{{ display_user.username }}
          </a>
        </span>
      </p>
</div>

