<div class="navbar bg-base-100 h-[5%]">
  <div class="navbar-start">
    <a href="/" class="btn btn-ghost text-xl">UniHub</a>
  </div>

  <div class="navbar-center">
    <a href="{{ url('posts') }}" class="btn btn-warning">Posts</a>
    <a href="{{ url('community_list') }}" class="btn btn-ghost">Communities</a>
    {% if user.is_authenticated %}
    <a href="{{ url('dashboard') }}" class="btn btn-ghost">Dashboard</a>
    {% endif %}
  </div>

  <div class="navbar-end">
    {% if user.is_authenticated %}
    <div class="dropdown dropdown-end">
                    <label tabindex="0" class="btn btn-ghost btn-circle" id="notifications-button">
                        <div class="indicator">
                            <span class="indicator-item badge badge-secondary" id="notifications-count"></span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v2a2 2 0 11-4 0v-2m4 0H9" />
                            </svg>
                        </div>
                    </label>
                    <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52 hidden" id="notifications-dropdown">
                        <li><span>Loading...</span></li>
                    </ul>
                </div>
    <div class="dropdown dropdown-end">
      <label tabindex="0" class="btn btn-ghost btn-circle avatar">
        <div class="w-10 rounded-full">
          {% if user.profile_picture %}
          <img src="{{ user.profile_picture.url }}" alt="Profile" />
          {% else %}
          <div
            class="bg-primary text-primary-content rounded-full w-10 h-10 flex items-center justify-center"
          >
            {{ user.username|make_list|first|upper }}
          </div>
          {% endif %}
        </div>
      </label>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52"
      >
        <li>
          <a href="{{ url('my_profile') }}">Profile</a>
        </li>
        <li>
          <form method="post" action="{{ url('logout') }}">
            {% csrf_token %}
            <button type="submit">Logout</button>
          </form>
        </li>
      </ul>
    </div>
    {% else %}
    <a href="{{ url('login') }}" class="btn btn-ghost">Login</a>
    <a href="{{ url('signup') }}" class="btn btn-primary">Sign Up</a>
    {% endif %}
  </div>
</div>
