{% extends 'base/index.jinja' %}
{% block title %}Communities{% endblock %}
{% block content %}
  <div class="max-w-6xl mx-auto">
    <div class="flex justify-between items-center mb-6">
      <h1 class="text-2xl font-bold">Create a Community</h1>
      <p>
        Please ensure you follow the correct <a class="text-blue-900" href="#">guidelines</a> when creating a community...
      </p>
    </div>
    <div class="divider"></div>
    <!-- Create a Community Form -->
    <form method="post" class="space-y-4">
      {% csrf_token %}
      <div class="space-y-4">
        <div class="form-control">
          <label class="label" for="{{ form.id.id_for_label }}">
            <span class="label-text">ID</span>
          </label>
          {{ form.id }}
          {% if form.id.errors %}
            <label class="label">
              <span class="label-text-alt text-error">{{ form.id.errors|join(", ") }}</span>
            </label>
          {% endif %}
        </div>
        <div class="form-control">
          <label class="label" for="{{ form.name.id_for_label }}">
            <span class="label-text">{{ form.name.label}}</span>
          </label>
          {{ form.name }}
          {% if form.name.errors %}
            <label class="label">
              <span class="label-text-alt text-error">{{ form.name.errors|join(", ") }}</span>
            </label>
          {% endif %}
        </div>
        <div class="form-control">
          <label class="label" for="{{ form.description.id_for_label }}">
            <span class="label-text">{{ form.description.label }}</span>
          </label>
          {{ form.description }}
          {% if form.description.errors %}
            <label class="label">
              <span class="label-text-alt text-error">{{ form.description.errors|join(", ")}}</span>
            </label>
          {% endif %}
        </div>
        <div class="form-control">
          <label class="label" for="{{ form.banner_url.id_for_label }}">
            <span class="label-text">Banner</span>
          </label>
          {{ form.banner_url }}
          {% if form.banner_url.errors %}
            <label class="label">
              <span class="label-text-alt text-error">{{ form.banner_url.errors|join(", ")}}</span>
            </label>
          {% endif %}
        </div>
        <div class="form-control">
          <label class="label" for="{{ form.icon_url.id_for_label }}">
            <span class="label-text">Icon</span>
          </label>
          {{ form.icon_url }}
          {% if form.icon_url.errors %}
            <label class="label">
              <span class="label-text-alt text-error">{{ form.icon_url.errors|join(", ") }}</span>
            </label>
          {% endif %}
        </div>
      </div>
      <button type="submit" class="btn btn-primary w-full mt-6">Create Community</button>
    </form>
  </div>
{% endblock %}

