<div class="bg-base-100 p-6 rounded-box shadow-lg mb-4">
  <div class="flex items-center gap-4">
    <div class="avatar placeholder">
      <div class="w-16 rounded-full bg-neutral-focus text-neutral-content">
        <span>{{ community.name[:2]|upper }}</span>
      </div>
    </div>
    <div>
      <h1 class="text-2xl font-bold">{{ community.name }}</h1>
      <div class="flex space-x-6">
        <p class="text-base-content/60"> {% include 'communities/member-count.jinja' %} </p>
        <p class="text-base-content/60"> {% include 'communities/post-count.jinja' %} </p>
      </div>
    </div>
    {% if user.is_authenticated %}
      {% if membership %}
        <!-- Leave Community Button -->
        <form action="{{ url('community_leave', community.id) }}"
              method="post">
          {% csrf_token %}
          <button class="btn btn-danger ml-auto" type="submit">Leave Community</button>
        </form>
      {% else %}
        <!-- Join Community Button -->
        <form action="{{ url('community_join', community.id) }}"
              method="post">
          {% csrf_token %}
          <button class="btn btn-primary ml-auto" type="submit">Join Community</button>
        </form>
      {% endif %}
      {% if user.is_superuser %}
        <form action="{{ url('community_delete', community.id) }}"
              method="post">
          {% csrf_token %}
          <button class="btn btn-error ml-auto" type="submit">Delete</button>
        </form>
      {% endif %}
    {% else %}
      <p>
        <a href="{{ url('login')}}">Log in</a> to join or leave this community.
      </p>
    {% endif %}
  </div>
  <p class="mt-4">{{ community.description }}</p>
</div>

