<form class="form-wrapper-2" method="get">
    <div class="flex space-x-2 mb-1 mb-5 mt-3">
        <input type="search" name="q" class="grow input input-bordered w-full" autofocus placeholder="{{ search_str|default("Search...") }}"/>                 
        <button type="submit" class="btn btn-outline">Search</button>
    </div>
</form>