<div class="space-y-4 w-full">
  <!-- My Events Section -->
  {% include 'dashboard/events-section.jinja' %}

  <!-- Communities Section -->
  {% include 'dashboard/communities-section.jinja' %}
</div>
