<div class="w-1/4 space-y-4">
  <!-- My Events Section -->
    {% include 'dashboard/events-section.jinja' %}

  <!-- Communities Section -->
    {% include 'dashboard/communities-section.jinja' %}
</div>
