{% extends 'base/index.jinja' %}

{% block title %}Edit Community{% endblock %}

{% block content %}
<div class="max-w-md mx-auto">
    <h2 class="text-2xl font-bold mb-6">Create Event</h2>
    <form method="post">
      {% csrf_token %}

      <div class="space-y-4">
        <div class="form-control">
          <label class="label" for="{{ form.title.id_for_label }}">
            <span class="label-text">{{ form.title.label }}</span>
          </label>
          {{ form.title }}
          {% if form.title.errors %}
            <label class="label">
              <span class="label-text-alt text-error">{{ form.title.errors|join(", ") }}</span>
            </label>
          {% endif %}
        </div>

        <div class="form-control">
          <label class="label" for="{{ form.location.id_for_label }}">
            <span class="label-text">{{ form.location.label }}</span>
          </label>
          {{ form.location }}
          {% if form.location.errors %}
            <label class="label">
              <span class="label-text-alt text-error">{{ form.location.errors|join(", ") }}</span>
            </label>
          {% endif %}
        </div>

        <div class="form-control">
          <label class="label" for="{{ form.start_at.id_for_label }}">
            <span class="label-text">{{ form.start_at.label }}</span>
          </label>
          {{ form.start_at }}
          {% if form.start_at.errors %}
            <label class="label">
              <span class="label-text-alt text-error">{{ form.start_at.errors|join(", ") }}</span>
            </label>
          {% endif %}
        </div>

        <div class="form-control">
          <label class="label" for="{{ form.end_at.id_for_label }}">
            <span class="label-text">{{ form.end_at.label }}</span>
          </label>
          {{ form.end_at }}
          {% if form.end_at.errors %}
            <label class="label">
              <span class="label-text-alt text-error">{{ form.end_at.errors|join(", ") }}</span>
            </label>
          {% endif %}
        </div>

        <!-- Markdown Editor -->

        <div class="form-control">
          <label class="label" for="body">
            <span class="label-text">Body</span>
          </label>
  
          <!-- Markdown Body -->
          {% set editor_id = 'body' %}
          {% set editor_name = 'body' %}
          {% set editor_class = 'textarea textarea-bordered w-full' %}
  
          {% include 'components/markdown-editor.jinja' %}
  
          {% if form.body.errors %}
            <label class="label">
              <span class="label-text-alt text-error">{{ form.body.errors|join(", ") }}</span>
            </label>
          {% endif %}
        </div>
        <div class="card-actions justify-end mt-2">
          <button type="submit" class="btn btn-primary">Create Event</button>
        </div>
      </div>
    </form>
</div>
{% endblock %}

