{% extends 'base/index.jinja' %}
{% block title %}Edit Event{% endblock %}
{% block content %}
<div class="max-w-md mx-auto">
	<h2 class="text-2xl font-bold mb-6">Edit Event for {{ community.name }}</h2>
	<form method="post">
		{% csrf_token %}
		<div class="card bg-base-100 shadow-xl">
			<div class="card-body">
				<div class="form-control">
					<label class="label" for="{{ form.title.id_for_label }}">
					<span class="label-text">Title</span>
					</label>
					{{ form.title }}
					{% if form.title.errors %}
					<div class="text-error mt-1">
						{{ form.title.errors.0 }}
					</div>
					{% endif %}
				</div>
				<div class="form-control">
					<label class="label" for="{{ form.details.id_for_label }}">
					<span class="label-text">Details</span>
					</label>
					{{ form.details }}
					{% if form.details.errors %}
					<div class="text-error mt-1">
						{{ form.details.errors.0 }}
					</div>
					{% endif %}
				</div>
				<div class="form-control">
					<label class="label" for="{{ form.location.id_for_label }}">
					<span class="label-text">Location</span>
					</label>
					{{ form.location }}
					{% if form.location.errors %}
					<div class="text-error mt-1">
						{{ form.location.errors.0 }}
					</div>
					{% endif %}
				</div>
				<div class="form-control">
					<label class="label" for="{{ form.start_at.id_for_label }}">
					<span class="label-text">Start Time</span>
					</label>
					{{ form.start_at }}
					{% if form.start_at.errors %}
					<div class="text-error mt-1">
						{{ form.start_at.errors.0 }}
					</div>
					{% endif %}
				</div>
				<div class="form-control">
					<label class="label" for="{{ form.end_at.id_for_label }}">
					<span class="label-text">End Time</span>
					</label>
					{{ form.end_at }}
					{% if form.end_at.errors %}
					<div class="text-error mt-1">
						{{ form.end_at.errors.0 }}
					</div>
					{% endif %}
				</div>
				<div class="form-control mt-4">
					<label class="cursor-pointer label justify-start gap-2">
						{{ form.members_only }}
						<span class="label-text">Members only</span>
					</label>
				</div>
				<div class="form-control mt-6">
					<button type="submit" class="btn btn-primary">Update Event</button>
					<a href="{{ url('event_detail', event_id=event.id) }}" class="btn btn-ghost mt-2">Cancel</a>
				</div>
			</div>
		</div>
	</form>
	{% if is_admin or is_moderator or user.is_superuser %}
	<form method="post" action="{% url 'event_cancel' event.id %}">
		{% csrf_token %}
		<button type="submit" class="btn btn-danger">Cancel Event</button>
	</form>
	{% endif %}
</div>
{% endblock %} 