<div class="card bg-base-100 shadow-lg">
    <!--
    <figure class="px-4 pt-4">
        <img src="https://placehold.co/600x400" class="rounded-xl" alt="Event Image"/>
    </figure>
    -->
    <div class="card-body">
        <div class="flex justify-between items-start">
            <div>
                <h2 class="card-title">{{ event.post.title }}</h2>
                <p class="text-sm text-base-content/60">{{ event.community.name }}</p>
            </div>
            {% if event.isOngoing() %}
                <div class="badge badge-primary">Ongoing</div>
            {% else %}
                <div class="badge badge-info">Upcoming</div>
            {% endif %}
        </div>
        <div class="space-y-2">
            <p class="text-sm">
                <i class="fas fa-calendar"></i>Start: {{ event.start_at|date("DATETIME_FORMAT")}}
            </p>
            <p class="text-sm">
                <i class="fas fa-clock"></i>End: {{ event.end_at|date("DATETIME_FORMAT")}}
            </p>
            <p class="text-sm">
                <i class="fas fa-location-dot"></i> {{ event.location }}
            </p>
        </div>
        <p>{{ event.post.body }}</p>
        <div class="card-actions justify-end mt-2">
            <button class="btn btn-primary btn-sm">RSVP</button>
            <button class="btn btn-ghost btn-sm">Share</button>
        </div>
    </div>
</div>

